@use "../custom" as *;

@media (max-width: 767.98px) {
    /* For small screens: Arrange Values, Archives, and Services */
    .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    /* For larger screens: Adjust spacing for 7 elements */
    .col-md-1 {
        flex: 0 0 calc(100% / 7);
        max-width: calc(100% / 7);
    }
    .col-lg-1 {
        flex: 0 0 calc(100% / 7);
        max-width: calc(100% / 7);
    }
}
.offset-image {
position: relative;
top: +180px; /* Adjust this value to set the vertical offset */
}

.offset-image−bot {
position: relative;
top: -50px; /* Adjust this value to set the vertical offset */
}